html,
body {
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;

    padding: 20px;
    justify-content: center;
}

#hidden {
    display: none;
}

.friends-list-container {
    flex: 0 0 600px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.friends-list {
    width: 100%;
}

.friends-list .friend {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
